

<section class="process">
    <div class="container">
        <div class="row centered align-items-center justify-content-center">
            {{#each advantage}}
                <div class="col-lg-4 fadein">
                    <img src="{{this.image}}" alt="">
                    <h4>{{this.title}}</h4>
                    <p>{{this.text}}</p>
                </div>

            {{/each}}
        </div>
    </div>
</section>