<section class="contact" id="contact">
    <div class="container">
        <div class="row centered align-items-center">
            <div class="col-lg-6 offset-lg-3">
                <h2>Напишите нам</h2>
                <h6>Вы можете отправить свой вопрос в форме ниже</h6>
                <form id="my_form" action="/form" method="post">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Имя</span>
                              </div>
                              <input type="text" class="form-control" name="name" aria-label="name" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">Фамилия</span>
                              </div>
                              <input type="text" class="form-control" name="surname" aria-label="surname" aria-describedby="basic-addon2">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">E-mail</span>
                      </div>
                      <input type="text" class="form-control" name="email" aria-label="email" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon4">Тема сообщения</span>
                      </div>
                      <input type="text" class="form-control" name="subject" aria-label="subject" aria-describedby="basic-addon4">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend textarea">
                        <span class="input-group-text textarea" id="basic-addon5">Cообщение</span>
                      </div>
                      <textarea rows="5" class="form-control" name="message" aria-label="message" aria-describedby="basic-addon5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>