  <footer class="footer custom-shadow">
    <div class="container">
        <div class="row">
            <img src="/images/logo-v2.png" height="60" class="logo-dark hide-logo d-inline-block align-top" alt="">
            <span class="text-muted">DFG-Studio 2020</span>
        </div>
    </div>
  </footer>