<div id="headerwrapPortfolio">
    <img class="headerwrap-port-image" src="{{ portfolioData.main_image }}" />
    <div class="container">
        <div class="row centered align-items-center">
            <div class="col-lg-8 offset-lg-2 bounceleft">
                <div class="portfolio-text-block">
                    <a href='http://{{ portfolioData.urlproject }}''><h1>{{ portfolioData.title }}</h1></a>
                </div>
            </div>
        </div>
    </div>
</div>
