<div id="headerwrap" class="custom-shadow">
    <div class="container">
        <div class="row centered align-items-center">
            <div class="col-lg-8 offset-lg-2 bounceleft">
                <h1>Качество имеет значение</h1>
            </div>
        </div>
        <div class="row centered align-items-center">
            <div class="col-lg-4 headerwrap-col bounceleft">
                <h4>Мультиязычность</h4>
                <p>Ваш проект может быть написан на разных языках</p>
            </div>
            <div class="col-lg-4 headerwrap-col bounceleft">
                <h4>Уникальность</h4>
                <p>Индивидуальный подход к каждому клиенту</p>
            </div>
            <div class="col-lg-4 headerwrap-col bounceleft">
                <h4>Надёжность</h4>
                <p>Гарантия качества конечного продукта</p>
            </div>
        </div>
    </div>
</div>
