<div id="headerwrap" class="">
    <div class="container">
        <div class="row centered align-items-center">
            <div class="col-lg-8 offset-lg-2 bounceleft">
                <h1>Header1</h1>
                <h2>Header2</h2>
            </div>
        </div>
    </div>
</div>
