<section class="technology">
    <div class="container">
        <div class="row centered align-items-center">
            <div class="col-lg-12">
                <div class="owl-carousel">
                    {{#each technology}}
                        <div><img src="/images/{{this.image_url}}" alt="{{this.name}}"></div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>