html, body{
    overflow-x: hidden;
}

body{
    -webkit-overflow-scrolling: touch;
    background: #e0e0e04f;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.input-group-text{
    background: linear-gradient(to top left, #58807c26 0%,#b0fff878 100%);
}

.textarea{
    display: block;
    width: 100%;
    border-radius: 0;
}

textarea{
    border-radius: 0 0 .25rem .25rem !important;
}

#canvas {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
    filter: blur(1px);
}

.headerwrap-portfolio-image{
    position: absolute;
    filter: blur(5px) brightness(0.5);
    top: 0;
    left: 0;
    width: 100%;
}

.tab-pane{
    background: white;
    padding: 50px;
}

.tab-content{
    box-shadow: 0px 10px 25px #00000017;
}

.fixed{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.centered{
    text-align: center;
}

.carousel-inner, .carousel{
    height: 400px;
}

.nav-tabs{
    justify-content: center;
}

.nav-tabs li{
    font-size: 30px;
    font-weight: 500;

}

.contact{
    background: #ffffff8a;
    margin-bottom: 60px;
}

.no-padding{
    padding: 0;
}

.margin{
    margin: 25px;
}

.custom-shadow{
    box-shadow: 0 0 10px  #0000006b;
}

@media (min-width: 768px){
    .portfolio div{
        padding: 50px;
    }
    .portfolio-text-block{
        padding: 50px;
    }
    .portfolio img:hover{
        transform: scale(1.25);
        transition: transform 1s;
    }
    .portfolio img{
        transform: scale(1);
        transition: transform 1s;
    }
}
.headerwrap-col{
    padding: 25px;
}

#headerwrap h1{
    margin-top: 100px;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
}

.owl-carousel .owl-stage{
    display: flex;
    align-items: center;
}

@media (max-width: 425px) {
    #headerwrapPortfolio h1, #headerwrap h1{
        font-size: 50px;
    }

}

@media (min-width: 425px) {
    #headerwrapPortfolio h1, #headerwrap h1{
        font-size: 70px;
    }
}


.portfolio-text-block{
    margin-top: 100px;
}

.portfolio-text-block{
    text-decoration-color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #d2d2d29e;
}

#headerwrapPortfolio{
    text-align: center;
    min-height: 500px;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: inset 1000px 1000px 1000px 1000px rgba(0, 0, 0, 0.5);
}

#headerwrapPortfolioBackground{
    min-height: 500px;
    width: 100%;
    filter: blur(2px);
}

#headerwrap{
    color: white;
    background: linear-gradient(to bottom right, #58807cc7 0%,#b0fff8e3 100%);;
    padding-top: 20px;
    text-align: center;
    background-position: center;
    min-height: 500px;
    width: 100%;
    background-size: cover;
}

#headerwrapPortfolio h1{
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
}

#headerwrapPortfolio a{
    text-decoration-color: white;
}

.portfolio img{
    box-shadow: 0px 0px 15px #0000006b;
}

#headerwrap h2{
    font-size: 40px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

section{
    padding: 75px 0;
}

.advantage img{
    height: 50px;
    width: 50px;
}

.process{
    background: linear-gradient(to top right, #58807c52 0%,#b0fff8a6 100%);
}

.process li{
    background: none;
}

.process .list-group-item{
    padding: 5px;
}

.process .white-color{
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #58807C;
    border-radius: 100%;
    position: absolute;
    line-height: 22px;
    text-align: center;
    color: white;
}

.process .white-color svg{
    width: 1em;
}

.process .list-item{
    padding-left: 45px;
    font-weight: 600;
}

.process h4{
    animation-duration: 5s;
    font-weight: 700;
}

.process ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

.process li {
  transform: translateX(-100%);
  transition: transform 0.5s, opacity 2s;
  opacity: 0;
  border: none;
}

.process img {
  transform: translateX(100%);
  transition: transform 1s, opacity 3s;
  opacity: 0;
  border: none;
}

.process .show {
  opacity: 1;
  transform: translateX(0%);
}

.contact{

}

.fadein{
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.bounceleft{
    -webkit-animation: bounceleft 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounceleft 3s; /* Firefox < 16 */
        -ms-animation: bounceleft 3s; /* Internet Explorer */
         -o-animation: bounceleft 3s; /* Opera < 12.1 */
            animation: bounceleft 3s;
}

@keyframes bounceleft {
    from { margin-left: -2000px; }
}

.graySection{
    background: linear-gradient(to bottom right, #58807c52 0%,#b0fff8a6 100%)
}

.main-menu-light{
    background: none;
    box-shadow: none;
}

.hide-logo{
    display: none !important;
}

.main-menu-dark{
    background: white;
    box-shadow: 0px 10px 25px #0000006b;
}
